<h1>Usuários cadastrados</h1>
s

<table>
  <tr>
    <th>Numero</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @users.each do |user| %>

  <tr>
    <td><%= link_to user.phone_number, user %></td>
    <%#if current_user.id == user.id%>
      <td><%#= link_to 'Editar', edit_user_registration_path(user) %></td>
     <td ><%= link_to 'Delete',user, confirm: 'Tem certeza?', method: :delete %></td> 

    <%end%>
  </tr>
</table>
<br/>


