<h1>Usuários cadastrados</h1>


<table style="font-size:20px;">
  <tr>
    <th>Nome</th>
    <th></th>
    <th>Numeros</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @users.each do |user| %>

  <tr>
    <%if(user.name != nil)%>
      <td><%=user.name%></td>
      <%else%>
      <td></td>
    <%end%>
    <td></td>
    <td><%= link_to user.phone_number, user %></td>
    <%#if current_user.id == user.id%>
      <td><%#= link_to 'Editar', edit_user_registration_path(user) %></td>
     <td ><%= link_to 'Delete',user, confirm: 'Tem certeza?', method: :delete %></td> 

    <%end%>
  </tr>
</table>
<br/>


